<%= link_to leaderboard_path, class: "color-block bg-#{color}" do %>
  <div class="color-block-inner">
    <%= tag.h1 number, class: "circled-number small #{color}" %>
    <%= tag.h4 element %>
  </div>
<% end %>
