<div class="compatible-logos">
  <h5>Compatible with</h5>
  <div class="compatible-logos-wrapper">
    <% images.each do |image| %>
      <%= image_tag image[:src], alt: image[:alt], loading: 'lazy', class: "comp-logo #{greyscale && 'greyscale'}" %>
    <% end %>
  </div>
</div>
