<div class="newsletter-signup">
  <div class="newsletter-signup-content-container">
    <h1 class="newsletter-signup-header"><%= header %></h1>
    <p class="newsletter-signup-content"><%= content %></p>
  </div>

  <div class="newsletter-signup-form-container">
    <%= render "newsletter_targets/form", newsletter_target: @newsletter_target %>
  </div>
</div>
