.account-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem
}

.account-header {
  margin: 0 1rem 1rem;
}

.account-detail {
  background: white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.account-detail-title {
  font-size: .7rem;
}
