.survey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.survey-question-container {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  width: 70%;
  position: relative;
}

@media screen and (max-width: 749px) {
  .survey-question-container {
    width: 100%;
  }
}
