.user-row {
display: flex;
align-items: center;
gap: 1rem;
}

.user-stats {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  height: 2rem;
  padding: .5rem 1rem;
  justify-content: space-between;
  border-radius: .5rem;
  > * {
    flex: 1;
  }
}

.user-surveys {
  text-align: center;
}

.user-points {
  text-align: end;
}

.leaderboard-links {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  top: 4rem;
  right: 14.5%;
  width: fit-content;
  position: absolute;
  display: flex;
  span {
    background: $button-gray;
    box-shadow: $avatar-shadow;
    display: flex;
    align-items: center;
    padding: .75rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    height: 1.5rem;
    width: 10rem;
    justify-content: end;
    transition: transform .25s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translateX(10rem);
    }
  }
}

@media screen and (max-width: 749px) {
  .leaderboard-links {
    display: none;
  }
}
