<div class="content-panel bg-lilac" data-controller="badges">
  <h3 class="account-header english-violet">Badges</h3>
  <div class="content-grid">
    <% @user.badges.each do |badge| %>
      <div class="badge-wrapper tooltip" data-badges-target="badgeElement">
        <%= image_tag "#{badge.icon}", loading: 'lazy', class: "badge" %>
        <span class="tooltip-text"><%= badge.unlock_reqs %></span>
      </div>
    <% end %>
  </div>
</div>
