<%= image_tag "stars_icon", class: "content-icon-small" %>
<h3 class="account-header">Survey Results</h3>
<div class="content-panel" data-controller="badges">
  <div class="content-grid">
    <% @user.surveys.each do |survey| %>
      <div class="badge-wrapper tooltip" data-badges-target="badgeElement">
        <%= image_tag "#{survey.result.image}", class: "badge" %>
        <span class="tooltip-text"><%= survey.result.image %></span>
      </div>
    <% end %>
  </div>
</div>
