<div class="content-panel bg-pale-blue" data-controller="badges">
  <h3 class="account-header english-violet">Survey Results</h3>
  <div class="content-grid achievements-container">
    <% @user.surveys.each do |survey| %>
      <div class="badge-wrapper tooltip" data-badges-target="badgeElement">
        <%= image_tag "#{survey.result.image}", loading: 'lazy', class: "badge" %>
        <span class="tooltip-text"><%= survey.result.image.chomp('.svg') %></span>
      </div>
    <% end %>
  </div>
</div>
