<div class="full-width-container compatible-logos">
      <div class="compatible-logos-wrapper">
        <% images.each do |image| %>
          <%= image_tag image, class: "comp-logo" %>
        <% end %>
      </div>
    </div>
