<div class="banner">
    <%= image_tag "couple_bar.jpg", class: "banner-image" %>
    <div class="banner-content-box">
      <h3 class="sub-header">
        Take the anxiety out of dating.
      </h3>
      <%= link_to "Take our survey", new_survey_path, class: " btn button-primary" %>
    </div>
  </div>
