<div class="home-page-container">

  <%= render "image_banner" %>

  <div class="content-container-static column">
    <%= render "text_with_image",
        header_text: "Get the full scoop before you date.",
        content_text: "Dish collects anonymous submissions to create a report card on your date. No more bad vibes.
          Dish lets you see what others had to say about your date.",
        image: "couple_phones.jpg",
        button1: {text: "Take the Quiz", path: new_survey_path, style: "btn button-secondary"},
        button2: {text: "Learn More", path: project_path, style: "btn button-tertiary"}
    %>

    <%= render "compatible_logos", images: ["hinge_logo.webp", "bumble_logo.webp", "tinder_logo.webp", "raya_logo.webp"]  %>
  </div>

</div>
