<div class="static-page-container">
  <%= render "components/text_block",
    text_alignment: "center",
    header: "Legal",
    content_text: "<p>Let’s Dish is a registered trademark of Let’s Dish, Inc. All rights reserved.</p>
      </break>
      <p>Let’s Dish’s platform tools are protected by U.S. Patent No. 10,123,456.</p>
      </break>
      <p>Let’s Dish’s platform tools are protected by U.S. Patent No. 10,123,457.</p>
      </break>
      <p>Let’s Dish’s platform tools are protected by U.S. Patent No. 10,123,458.</p>".html_safe
  %>
</div>
