<div class="static-page-container">
  <%= render "components/text_block",
    text_alignment: "center",
    header: "Privacy Policy",
    content_text: "<p>Welcome to this Let’s Dish, LLC (“Dish”) website (“the Site”). The Site is owned by Let’s
      Dish, LLC. Please take the time to read and understand this privacy statement
      (“Statement”). It explains our online information collection and use practices and the
      choices you can make about the way we use and share such information. Also note that
      this Statement only applies to our online collection and use practices and may be different
      from our offline collection practices or when engaging with Dish elsewhere.</p>
      </break>

      <p><b>NOTE WELL: By visiting and using the Site, you agree that your use of our Site, and any
      dispute over our online privacy practices, is governed by this Statement and any applicable,
      Terms of Service. Because the internet is an evolving medium, we may need to change our
      Statement at some point in the future, in which case we’ll post the revised Statement on this
      Site and update the “Last Updated” date to reflect the date of the changes. By continuing to
      use the Site after we post any such changes, you accept the Statement as modified.</b></p>
      </break>

      <h3>1. Collection and Use of Your Information</h3>

      <p>When you visit our website, we may collect certain information from you. Dish may collect: (a) the
      email addresses of users that communicate with Refuel Agency via email; and (b) information
      knowingly provided by the user through our Services in informational sections, including any contact,
      registration, or application forms. We may also track information collected as you navigate our sites.</p>
      </break>

      <h3>2. Personal Information You Provide to Us</h3>

      <p>We may retain and use Personally Identifiable Information (PII) for our business purposes, including,
      to contact you, to provide services, to provide customer assistance, and to send online
      communications to you. The (PII) may include your name, email address, company information,
      school information, age, zip code, and phone number, as well as other information you provide us
      voluntarily. Dish may also desire to contact you for market research purposes or to provide you with
      marketing information that Dish believes would be of particular interest. You will have the option of not
      being contacted by Dish and opting-out of such contacts in the manner set forth below.</p>
      </break>

      <h3>3. Use of Cookies on Our Websites</h3>

      <p>Cookies are small, unique strings of code stored on your computer that make it easier for you to use
      our site and help us improve site functionality, user experience, and security. We may use both
      session cookies (which expire once you close your browser) and persistent cookies (which stay on
      your computer until you remove them). We use our own proprietary cookies and we may use cookies
      hosted by third party vendors. These cookies include Non-Personally Identifiable Information that
      allows advertisers and content owners to provide a more customized web experience. They may be
      used to customize advertisement content and display on our site as well as on sites you may visit in
      the future. They may collect data such as your browser type, your operating system, web pages
      visited, length of visits, content viewed, and links clicked.  Additionally, emails we send to you may
      contain link tags from Google Analytics. This code helps us understand the time and date that a user
      has opened an email and has selected a link within the email to visit a website, allowing us to collect
      analytics about our traffic, customize our services, and send you ads about our services.</p>
      </break>

      <p>We may also use cookies to automatically collect information about your computer when you visit our
      sites, and automatically store it in log files. This may include the type of browser software you use,
      the operating system you are running, the website that referred you, and your Internet Protocol (IP)
      address. Your Internet browser may permit you to reject or delete cookies, but this may prevent
      proper working of our website. If you do not want to allow advertising cookies from us, please disallow
      them on your browser settings.</p>
      </break>

      <h3>4. We May Disclose Your Personal Information as Follows:</h3>

      <p>We will share your personal information with third parties only in the ways that are described in this
      privacy policy and are permitted by law. We do not sell your personal information to third parties.</p>
      </break>

      <h3>5. Vendors and other Service Providers</h3>

      <p>We may use third-party service providers for network, security, email, and hosting services. Suppliers
      and service providers are required by contract to keep the information received on our behalf
      confidential, and may not use it for any purpose other than to carry out the services they are
      performing for us.</p>
      </break>

      <h3>6. Disclosure Required by Law</h3>

      <p>Under certain circumstances personal information may be subject to disclosure pursuant to judicial or
      other government subpoenas, warrants, or orders. Also, when we believe in good faith that disclosure
      is necessary to protect our rights, protect your safety or the safety of others, to investigate fraud, or to
      respond to a government request or to any other third party, it will only eventuate with your prior
      consent to do so. If we are ever legally compelled to disclose your personal information to a third
      party, we will notify you with the contact information we have unless doing so would violate the law or
      a court order.</p>
      </break>

      <h3>7. Disclosure of Non-Personal Information</h3>

      <p>We may share with third parties or service providers Non-Personally Identifiable Information about
      your use of our website, which could include demographics, interests, and other online habits.</p>
      </break>

      <h3>Child Privacy:</h3>

      <p>We do not knowingly collect personal information about children. Our systems are not
      designed for use by children under the age of 18. If we learn we have collected or obtained personal
      information of someone under the age of 18, we will delete that information from our database within
      48 hours. If you believe that this has occurred, please contact us at contact@letsdish.io.</p>
      </break>

      <h3>Security:</h3>

      <p>We take the security of our data and client’s information seriously. We always take what we believe
      are reason able precautions to protect against unauthorized access to our systems and to prevent
      data from being disclosed to unauthorized parties. We follow generally-accepted standards to protect
      the personal information submitted to us, both during transmission and once we receive it. However,
      no method of transmission over the Internet, or method of electronic storage, is 100% secure.
      Therefore, we cannot guarantee absolute security.</p>
      </break>

      <h3>Links to 3rd Party Sites:</h3>

      <p>Our website includes links to other websites whose privacy practices may differ from those of Dish. If
      you submit personal information to any of those sites, your information is governed by their privacy
      policies. We encourage you to carefully read the privacy policy of any website you visit.</p>
      </break>

      <h3>8. Changes to this Policy</h3>

      <p>Dish reserves the right at any time to modify, alter or update this Privacy Policy. Your use of our
      Services following any changes means that you agree to follow and be bound by the Privacy Policy
      as changed. Any change to this Privacy Policy shall be effective as to any visitor who has visited our
      Services before the change was made. It is the obligation of users visiting our Services before the
      change to learn of changes to the Privacy Policy since their last visit.</p>
      </break>

      <h3>Contact Information</h3>

      <p>If you have any questions or need to contact us, we recommend you reach out to our support team at contact@letsdish.io.</p>

      <p>Last modified: July 26, 2024</p>
      </break>
      <p>All rights reserved.</p>".html_safe
  %>
</div>
