<div class="static-page-container">
  <%= render "components/text_block",
    text_alignment: "center",
    header: "Privacy Policy",
    content_text: "<p>Let’s Dish is committed to protecting your privacy. We have created this privacy policy to explain
      how we collect, use, and share your information. This policy applies to all users of Let’s Dish’s website and mobile applications.</p>
      </break>
      <p>By using Let’s Dish, you agree to the terms of this privacy policy. If you do not agree with the terms of this policy,
      please do not use Let’s Dish.</p>
      </break>
      <p>Let’s Dish may update this privacy policy from time to time. We will notify you of any changes by posting the new
      privacy policy on this page. You are advised to review this privacy policy periodically for any changes.</p>".html_safe
  %>
</div>
