<div class="banner-page-container">
  <%= render "image_banner" %>
  <div class="content-container-static">
    <div class="content-container-inner column">
      <h1 class="header center-align">
        Our Goal: keep dating safe
      </h1>
      <div class="text-with-image">
        <div class="text-container">
          <p>
            Just within the U.S., over 50M people use dating apps
            every year to find new dates. One of the biggest challenges faced by the dating population is that there is not a reliable source of
            information about the person they connected with on a dating site to evaluate whether they have had a good dating track record
            and would turn out to be a good date for them, or not.
          </p>
        </div>
        <div class="image-container">
          <%= image_tag "dating_app.jpg", class: "twi-image" %>
        </div>
      </div>
    </div>
  </div>
</div>
