<div
  id="next<%= index %>"
  class="btn survey-next-button button-secondary button-disabled"
  data-survey-target="buttonElement"
  <% if sq.index == @survey.survey_questions.length - 1 %>
    data-action="click->survey#submit"
  <% else %>
    data-action="click->survey#next"
  <% end %>
>
  <% if sq.index == @survey.survey_questions.length - 1 %>
    Finish
  <% else %>
    Next
  <% end %>
</div>
