.animated, .animated-text {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

.animated-text {
  display: inline-block;
}

// Survey Questions/slides Fade in/out

.slide-in-left {
  animation-name: slideInLeft;
}

.slide-out-left {
  animation-name: slideOutLeft;
}

.slide-in-right {
  animation-name: slideInRight;
}

.slide-out-right {
  animation-name: slideOutRight;
}

.slide-out-top {
  animation-name: slideOutTop;
}

.slide-in-bottom {
  animation-name: slideInBottom;

}

.slide-out-bottom {
  animation-name: slideOutBottom;
}


@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes slideOutTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

// Navbar Animations

.fade-in {
  animation-name: fadeIn;
  animation-duration: .25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Mobile Menu Animations

.drawer-open-left {
  animation-name: drawerOpenLeft;
}

.drawer-close-left {
  animation-name: drawerCloseLeft;
}

.drawer-open-right {
  animation-name: drawerOpenRight;
}

.drawer-close-right {
  animation-name: drawerCloseRight;
}

@keyframes drawerOpenLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes drawerCloseLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes drawerOpenRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes drawerCloseRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

// Badges animations

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes shimmer {
  0% {
    background-position-x: 100%;
  }
  20% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 0%;
  }
}
