.animated {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

// Survey Questions/slides Fade in/out

.slide-in-left {
  animation-name: slideInLeft;
}

.slide-out-left {
  animation-name: slideOutLeft;
}

.slide-in-right {
  animation-name: slideInRight;
}

.slide-out-right {
  animation-name: slideOutRight;
}

.slide-out-top {
  animation-name: slideOutTop;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%)
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes slideOutTop {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

// Navbar Animations

.fade-in {
  animation-name: fadeIn;
  animation-duration: .25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Mobile Menu Animations

.drawer-open-left {
  animation-name: drawerOpenLeft;
}

.drawer-close-left {
  animation-name: drawerCloseLeft;
}

.drawer-open-right {
  animation-name: drawerOpenRight;
}

.drawer-close-right {
  animation-name: drawerCloseRight;
}

@keyframes drawerOpenLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes drawerCloseLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes drawerOpenRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes drawerCloseRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
