.user-avatar {
  border-radius: 50%;
  border: .25rem solid white;
  box-shadow: $avatar-shadow;
  object-fit: cover;
}

.avatar-common {
  width: 2.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: .15rem solid white;
}
