// Home page banner

.banner {
  width: calc(100% + 10rem);
  margin-left: -5rem;
  height: 100vh;
  background-image: $banner-background;
  background-position: 50% 40%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short-banner {
  height: 60vh;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.image-lower {
  object-position: 50% 25%;
}

.banner-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28rem;
  text-align: center;

  .sub-header {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 1rem;
    color: $background-offwhite;
    text-shadow: 0px .4px 1px rgba(0,0,0,.25);
  }
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: .5rem;
}

.banner-logo {
  margin: 2rem;
  width: 10rem;
}

@media screen and (max-width: 749px) {
  .banner {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  .short-banner {
    height: 40vh;
  }

  .banner-content-box {
    height: 23rem;
    padding: 2rem 5rem;
    justify-content: inherit;

    .sub-header {
      font-size: 1.55rem
    }

    .btn {
      align-self: center;
      font-size: 1rem;
    }
  }
}

// alt banner

.alt-banner {
  display: flex;
  margin: 2rem 0 5rem;
}

.alt-banner-text-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.alt-banner-image-container {
  flex: 1;
}

.alt-banner-image {
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
  height: 80vh;
}

@media screen and (max-width: 749px) {
  .alt-banner {
    flex-direction: column;
  }

  .alt-banner-text-container {
    order: 2;
    text-align: center;
  }

  .alt-banner-image-container {
    width: 100vw;
    margin-left: -1rem;
  }

  .alt-banner-image {
    border-radius: 0;
    height: 50vh;
  }
}
