// Home page banner

.banner {
  position: relative;
  height: 110vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient($background-offwhite 50%, #ebe4f9);
  background-size: 120%;
  background-position: center;
}

.banner-image-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-left: 10rem;
}

.banner-image {
  height: 90%;
}

.banner-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: -10rem;
  padding: 5rem;
  z-index: 1;

  .banner-header {
    margin: 0;
    font-size: 4rem;
    font-weight: lighter;
    line-height: 3.8rem;
  }
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: .5rem;
}

.banner-logo {
  margin: 2rem;
  width: 10rem;
}

@media screen and (max-width: 749px) {
  .banner {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  .short-banner {
    height: 40vh;
  }

  .banner-content-box {
    height: 23rem;
    padding: 2rem 2rem;
    justify-content: inherit;

    .sub-header {
      font-size: 1.55rem
    }

    .btn {
      align-self: center;
      font-size: 1rem;
    }
  }
}

// alt banner

.alt-banner {
  display: flex;
  margin: 2rem 0 5rem;
}

.alt-banner-text-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.alt-banner-image-container {
  flex: 1;
}

.alt-banner-image {
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
  height: 80vh;
}

@media screen and (max-width: 749px) {
  .alt-banner {
    flex-direction: column;
  }

  .alt-banner-text-container {
    order: 2;
    text-align: center;
  }

  .alt-banner-image-container {
    width: 100vw;
    margin-left: -1rem;
  }

  .alt-banner-image {
    border-radius: 0;
    height: 50vh;
  }
}
