.btn {
  font-size: 1.4rem;
}

.button-primary {
  background: $safedate-red;
  padding: .5rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: .75rem;
  border: .15rem solid transparent;

  &:hover {
    border: .15rem solid $safedate-red;
    background-color: white;
    color: $safedate-red;
  }
}

.survey-next-button {
  align-self: center;
}
