.btn {
  width: fit-content;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 3rem;
  text-decoration: none;
  border: .15rem solid transparent;
  font-family: $headers-font;
  font-size: 1.25rem;
  transition: all .2s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(.9);
  }
}

.button-primary {
  background: $english-violet;
  color: white;

  &:hover {
    background: white;
    color: $english-violet;
    border: .15rem solid $english-violet;
  }
}

.button-secondary {
  background: white;
  border: .15rem solid $english-violet;
  color: $english-violet;

  &:hover {
    background: $english-violet;
    color: white;
    border: .15rem solid $english-violet;
  }
}

.button-tertiary {
  background: transparent;

  &:hover {
    border: .15rem solid $text-gray;
  }
}

.nav-button {
  font-size: 1rem;
  padding: .5rem 2rem;
}

.button-disabled {
  opacity: .6;
  pointer-events: none;
  color: black;
  background-color: $button-gray;
}

.survey-next-button {
  align-self: center;
}

.close-button {
  display: flex;
  img {
    width: 3rem;
  }
}

  /* HTML: <div class="loader"></div> */
.loading {
   background: linear-gradient(-55deg, $button-gray 40%, #fafafac2 50%, $button-gray 60%);
  background-size:300% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {background-position: right}
}

@media screen and (max-width: 749px) {
  .btn {
    font-size: .8rem;
  }
}
