.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  aspect-ratio: 4/6;
  padding: 4rem;
  background-color: $light-gray;
  border-radius: 1rem;
  box-shadow: $content-box-shadow;
  text-align: center;
}

.card-image {
  padding: 1rem;
  border-radius: 1rem;
}

.card-header, .card-content {
  margin: 0;
}
