.small {
  font-size: 1.85rem;
}

.medium {
  font-size: 3rem;
}

.large {
  font-size: 4.5rem;
}

.pale-blue {
  color: $pale-blue;
  text-shadow: 0px 0.4px 1px $shadow-gray;
}

.lilac {
  color: $lilac;
  text-shadow: 0px 0.4px 1px $shadow-gray;
}

.enlish-violet {
  color: $english-violet;
  text-shadow: 0px 0.4px 1px $shadow-gray;
}

@media screen and (max-width:749px) {
  .small {
    font-size: 1.4rem;
  }

  .medium {
    font-size: 2rem;
  }

  .large {
    font-size: 3rem;
  }
}
