.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  color: $safedate-red;

  input, select {
    font-size: 1.4rem;
    width: -moz-available;
    background: white;
    border: 1px solid $shadow-gray;
    border-radius: .5rem;
    padding: .5rem;
  }
}

.boolean .optional {
  width: fit-content;
  font-size: 1rem;
}

.form-actions {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.devise-links {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: $safedate-red;

  a {
    color: $safedate-red;
  }
}

.simple_form {
  width: 100%;
  align-self: center;
}

.field_with_hint {
  font-size: 1rem;
  color: $safedate-red;
}
