.content-icon {
  width: 6rem;
  aspect-ratio: 1/1;
  z-index: 1;
  align-self: center;
}

.content-icon-small {
  aspect-ratio: 1/1;
  width: 4rem;
  align-self: center;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .content-icon {
    height: 4rem;
    top: -3rem;
  }

  .survey-icon {
    top: -2rem;
  }

  .content-icon-small {
    top: 6rem;
  }
}
