.content-icon {
  width: 6rem;
  aspect-ratio: 1/1;
  position: absolute;
  left: calc((100% - 6rem)/2);
  top: -3rem;
  z-index: 1;
}

.content-icon-small {
  position: relative;
  top: 6rem;
  aspect-ratio: 1/1;
  width: 4rem;
  align-self: center;
  z-index: 1;
}
