.content-icon {
  width: 6rem;
  aspect-ratio: 1/1;
  z-index: 1;
  align-self: center;
}

.content-icon-small {
  aspect-ratio: 1/1;
  width: 4rem;
  align-self: center;
  z-index: 1;
}

.panel-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 749px) {
  .content-icon {
    height: 4rem;
    top: -3rem;
  }

  .survey-icon {
    top: -2rem;
  }

  .content-icon-small {
    top: 6rem;
  }

  .panel-close {
    top: 1rem;
    right: .5rem;
    width: 1.5rem;
  }
}
