.desktop-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  // justify-content: flex-end;
  align-items: center;
  padding: 0rem $main-padding 0;
}

.logo-container {
  // position: absolute;
  left: calc(50% - 5rem);
  height: 100%;
}

.logo {
  height: 100%;
  width: 5rem;
  padding: 1rem 0;
}

.links-container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 2rem;
  height: 2rem;
}

.nav-links-background {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 2rem;
  height: 2rem;
  padding: .5rem 1rem;
  background: $background-offwhite;
  border-radius: 2rem;
  margin-bottom: .25rem;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 1rem;

  .nav-link {
    text-decoration: none;
    color: $text-gray;
    font-family: $headers-font;
    font-weight: 500;
    font-size: 1rem;
    transition: all .2s;
    cursor: pointer;
  }

  :hover {
    opacity: .8;
  }
}

.account-icon-wrapper {
  display: flex;
}

.account-icon {
  width: 2rem;
}

.account-dropdown {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-offwhite;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  top: 3.5rem;
}

.dropdown-content a {
  color: $english-violet;
  margin: 12px 16px;
  text-decoration: none;
  display: block;

  &:hover {
    border-bottom: 1px solid
  }
}

.blocker {
  background-color: transparent;
  width: 100vw;
  height: 110vh;
  z-index: 1;
  display: none;
  position: absolute;
  top: -3rem;
  right: -2rem;
}

@media screen and (max-width: 1299px) {
  // .navbar-inner {
  //   display: none;
  // }

  .desktop-navbar {
    display: none;
  }
}
