.text-with-image {
  display: flex;
  gap: 5rem;
}

.text-container {
  padding: 0 2rem;
  flex: 1.5;
}

.image-container {
  flex: 1;
  padding: 2rem;
}

.twi-button-container {
  display: flex;
  gap: 2rem;
  margin: .5rem;
}

.text {
  margin-bottom: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

.twi-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5%;
}

@media screen and (max-width: 749px) {
  .text-with-image {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

}
