.text-with-image {
  display: flex;
  gap: 10rem;
  padding: 2rem 6rem;
}

.text-container {
  padding: 0 2rem;
  flex: 1;
}

.image-container {
  flex: 1;
  padding: 2rem;
}

.text {
  margin-bottom: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

.twi-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5%;
}
