// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/sizes";
@import "config/shadows";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// App wide CSS
body {
  background-color: $background-offwhite;
  font-family: $body-font;
  color: $text-gray;
  margin: 0;
  font-size: 1.4rem;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $gray;
  font-weight: lighter;
}

.field_with_errors {
  display: flex;
  flex-direction: column;
}

.error_notification, .error {
  color: red;
  font-size: .8rem;
  margin: .25rem 0;
}

.header {
  font-size: 3.5rem;
  margin: 0;
}

.subheading {
  font-size: 1.2rem;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.center-align {
  align-self: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 749px) {
  body {
    font-size: 1rem;
  }

  .header {
    font-size: 2rem;
  }

  .subheading {
    font-size: .8rem;
  }
}
