// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/sizes";
@import "config/shadows";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// App wide CSS
body {
  background-color: $background-offwhite;
  font-family: $body-font;
  color: $text-gray;
  margin: 0;
  font-size: 1.4rem;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $gray;
}

.logo-text {
  font-family: $logo-font;
  font-size: 4rem;
  letter-spacing: 2px;
  color: white;
  margin: 1rem;
}

.header {
  font-size: 3rem;
}

.subheading {
  font-size: 1.2rem;
  color: $safedate-red
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.center-align {
  align-self: center;
}

@media screen and (max-width: 749px) {
  body {
    font-size: 1rem;
  }

  .header {
    font-size: 2rem;
  }

  .subheading {
    font-size: .8rem;
  }
}
